footer.footer
    .container
        .footer__content
            .footer__info
                .footer__copyright !{ lang.footerCopyright }
                a.footer__link(href="mailto:hello@mysanta.ru") hello@mysanta.ru
            .footer__img
                +picture('assets/img/footer/deer', 'png', '', 293, 280, true)
            .footer__right
                a.footer__agreement(href="#") !{ lang.footerAgreement }