header.header
	.header__content
		a.logo.header__logo(href="#")

		.menu.header__menu
			.menu__content 
				ul.menu__list
					li.menu__item
						a.menu__link(href="#") Правила
				.menu__profile
					button.btn.menu__profile-btn.menu__profile-btn--login Войти
					button.btn.menu__profile-btn Создать игру
				+picture('assets/img/menu-santa', 'png', 'menu__img', 147, 170, true)
			button.menu__toggle(aria-label="Toggle menu")
				span.menu__lines