header.header
	.header__content
		a.logo.header__logo(href="#")
			img.logo__img(src="assets/img/logo.svg" alt="" width="167" height="26")
			img.logo__img.logo__img--black(src="assets/img/logo-black.svg" alt="" width="167" height="26")

		.menu.header__menu
			.menu__content 
				ul.menu__list
					li.menu__item
						a.menu__link(href="#") Магазин
					li.menu__item
						a.menu__link(href="#") О Правила
					li.menu__item
						a.menu__link(href="#") Блог
				.menu__profile
					button.btn.menu__profile-btn.menu__profile-btn--login Войти
					button.btn.menu__profile-btn Создать игру
				+picture('assets/img/menu-santa', 'png', 'menu__img', 147, 170)
			button.menu__toggle(aria-label="Toggle menu")
				span.menu__lines