header.header
	.header__content
		a.logo(href="#")
			img.logo__img(src="assets/img/logo.svg" alt="")

		.menu.header__menu
			.menu__content 
				ul.menu__list
					li.menu__item
						a.menu__link(href="#") Магазин
					li.menu__item
						a.menu__link(href="#") О Правила
					li.menu__item
						a.menu__link(href="#") Блог
				.menu__login
					button.btn.btn--white-transparent.menu__login-btn Войти
					button.btn.menu__login-btn Создать игру
			button.menu__toggle
				span.menu__lines