.body--lock
  overflow: hidden
  
.container
  max-width: $container-width
  margin: 0 auto
  padding: 0 $container-offset

.d-flex
  display: flex

.d-iflex
  display: inline-flex

.d-iblock
  display: inline-block

.items-center
  align-items: center

.title1,
.title2,
.title3
  font-weight: 700

  &__primary
    color: $color-primary

  &__second
    color: $color-second

  &__third
    color: $color-third

  &__black
    color: $color-black

  &__icon-box
    position: relative
    display: inline-flex
    align-items: center

  &--flex
    display: flex
    align-items: center

  &--center
    text-align: center

.title1
  font-size: 50px
  line-height: 1.22

  &__icon
    height: auto

    &--2
      position: absolute
      left: 30px
      top: 20px
      width: 30px
      height: 30px

    &--3
      position: absolute
      left: 45px
      top: 8px
      max-width: 53px

.title2
  font-size: 40px

.title3
  font-size: 30px

.text
  font-size: 18px
  line-height: 1.44

  a
    color: #6477a2

  &--big
    font-size: 24px
    line-height: 1.42

  &--bold
    font-weight: 700

.link
  color: $color-black
  transition: color .3s

  &:hover
    color: $color-primary

  &--third
    color: $color-third

    &:hover
      color: $color-third

.icon
  &--primary
    fill: $color-primary

.logo
  &__img
    &--black
      display: none

@media (max-width: 1200px)
  .title3
    font-size: 28px

@media (max-width: 991px)
  .title1
    font-size: 40px

    &__icon
      &--2
        left: 24px
        top: 16px
        width: 24px
        height: 24px

      &--3
        left: 37px
        top: 5px
        max-width: 42px

  .title2
    font-size: 30px

  .title3
    font-size: 20px

@media (max-width: 640px)
  .container
    padding: 0 $container-mobile-offset

  .title1
    font-size: 28px

    &__icon
      display: none

  .title2
    font-size: 20px

  .text
    font-size: 15px

  .logo
    &__img
      max-width: 132px
