.preloader
  position: fixed
  left: 0
  top: 0
  z-index: 99
  width: 100%
  height: 100%
  background: #fff
  transition: visibility .4s, opacity .4s

  &--hide
    visibility: hidden
    opacity: 0

.body--lock
  overflow: hidden

.container
  max-width: $container-width
  margin: 0 auto
  padding: 0 $container-offset

.d-flex
  display: flex

.d-iflex
  display: inline-flex

.d-iblock
  display: inline-block

.items-center
  align-items: center

.title1,
.title2,
.title3
  font-weight: 700

  &__primary
    color: $color-primary

  &__second
    color: $color-second

  &__third
    color: $color-third

  &__black
    color: $color-black

  &__icon-box
    position: relative
    display: inline-flex
    align-items: center

  &--flex
    display: flex
    align-items: center

  &--center
    text-align: center

.title1
  font-size: 50px
  line-height: 1.22

  &__sticker
    position: relative
    display: inline-block

    &:before
      content: ''
      position: absolute
      left: 45px
      top: 8px
      +before-icon('../img/sticky-note.png', 53px, 53px)

  &__like
    position: relative
    display: inline-block

    &:before
      content: ''
      position: absolute
      left: 29px
      top: 18px
      +before-icon('../img/like-fill.svg', 32px, 32px)

.title2
  font-size: 40px

.title3
  font-size: 30px

.panel-title1
  font-size: 34px
  line-height: 1.2
  letter-spacing: 0.374px
  font-weight: 700

.panel-title2
  font-size: 28px
  line-height: 1.2
  font-weight: 700

.panel-title3
  font-size: 26px
  line-height: 1.23
  letter-spacing: 0.35px
  font-weight: 700

.panel-title4
  position: relative
  font-size: 22px
  line-height: 1.27
  font-weight: 700

  &--loading
    &:before
      position: absolute
      left: 0
      top: 0
      content: ''
      background: rgba(175, 175, 175, 0.3)
      border-radius: 30px
      width: 135px
      height: 20px

    span
      opacity: 0

.panel-title5
  font-size: 18px
  line-height: 1.33
  font-weight: 700

.text
  font-size: 18px
  line-height: 1.44

  a
    color: #6477a2

  &--big
    font-size: 24px
    line-height: 1.42

  &--bold
    font-weight: 700

.panel-text
  font-size: 16px
  line-height: 1.38
  letter-spacing: -0.408px

  p:not(:first-child)
    margin-top: 15px

  &--gray
    color: rgba(0, 0, 0, 0.4)

  &--bold
    font-weight: 700

.link
  color: $color-black
  transition: color .3s

  &:hover
    color: $color-primary

  &__icon
    &:first-child
      margin-right: 3px

    &:last-child
      margin-left: 3px

    &--ml-10
      &:last-child
        margin-left: 10px

  &__back
    margin-right: 10px

  &--third
    color: $color-third

    &:hover
      color: $color-third

  &--primary
    color: $color-primary

  &--white
    color: #fff

  &--medium
    font-weight: 500

  &--flex
    display: flex
    align-items: center

.icon
  &--primary
    fill: $color-primary

.logo
  display: block
  +icon('../img/en/logo.png', 166px, 34px)

  &--ru
    background-image: url('../img/ru/logo.png')
    height: 25px

  &--black
    background-image: url('../img/en/logo-black.png')

  &--ru#{&}--black
    background-image: url('../img/ru/logo-black.png')

.logo-text
  font-family: 'SF Pro', sans-serif
  font-size: 34px
  font-weight: 700
  line-height: 41px
  letter-spacing: 0.374px

@media (max-width: 1200px)
  .title3
    font-size: 28px

@media (max-width: 991px)
  .title1
    font-size: 40px

    &__like
      &:before
        left: 24px
        top: 16px
        width: 24px
        height: 24px

    &__sticker
      &:before
        left: 37px
        top: 0
        max-width: 42px

  .title2
    font-size: 30px

  .title3
    font-size: 20px

@media (max-width: 640px)
  .container
    padding: 0 $container-mobile-offset

  .title1
    font-size: 28px

    &__like,
    &__sticker
      &:before
        display: none

  .title2
    font-size: 20px

  .text
    font-size: 15px

  .logo
    max-width: 132px
