.preloader
  position: fixed
  left: 0
  top: 0
  z-index: 99
  width: 100%
  height: 100%
  background: #fff
  transition: visibility .4s, opacity .4s

  &--hide
    visibility: hidden
    opacity: 0

.body--lock
  overflow: hidden

.container
  max-width: $container-width
  margin: 0 auto
  padding: 0 $container-offset

.d-flex
  display: flex

.d-iflex
  display: inline-flex

.d-iblock
  display: inline-block

.items-center
  align-items: center

.title1,
.title2,
.title3
  font-weight: 700

  &__primary
    color: $color-primary

  &__second
    color: $color-second

  &__third
    color: $color-third

  &__black
    color: $color-black

  &__icon-box
    position: relative
    display: inline-flex
    align-items: center

  &--flex
    display: flex
    align-items: center

  &--center
    text-align: center

.title1
  font-size: 50px
  line-height: 1.22

  &__sticker
    position: relative
    display: inline-block

    &:before
      content: ''
      position: absolute
      left: 45px
      top: 8px
      +before-icon('../img/sticky-note.png', 53px, 53px)

  &__like
    position: relative
    display: inline-block

    &:before
      content: ''
      position: absolute
      left: 29px
      top: 18px
      +before-icon('../img/like-fill.svg', 32px, 32px)

.title2
  font-size: 40px

.title3
  font-size: 30px

.text
  font-size: 18px
  line-height: 1.44

  a
    color: #6477a2

  &--big
    font-size: 24px
    line-height: 1.42

  &--bold
    font-weight: 700

.link
  color: $color-black
  transition: color .3s

  &:hover
    color: $color-primary

  &--third
    color: $color-third

    &:hover
      color: $color-third

.icon
  &--primary
    fill: $color-primary

.star
  background: url('../img/star.png') center / contain no-repeat

.sphere
  background: url('../img/sphere.png') center / contain no-repeat

.logo
  +icon('../img/logo.png', 166px, 25px)

@media (max-width: 1200px)
  .title3
    font-size: 28px

@media (max-width: 991px)
  .title1
    font-size: 40px

    &__like
      &:before
        left: 24px
        top: 16px
        width: 24px
        height: 24px

    &__sticker
      &:before
        left: 37px
        top: 0
        max-width: 42px

  .title2
    font-size: 30px

  .title3
    font-size: 20px

@media (max-width: 640px)
  .container
    padding: 0 $container-mobile-offset

  .title1
    font-size: 28px

    &__like,
    &__sticker
      &:before
        display: none

  .title2
    font-size: 20px

  .text
    font-size: 15px

  .logo
    max-width: 132px
