- 
    var pages_list = [
        { url: 'home.html', title: 'Главная' },
        { url: 'home-en.html', title: 'Главная (англ.)' },
        { url: 'home-es.html', title: 'Главная (исп.)' },
        { url: 'home-de.html', title: 'Главная (нем.)' },
        { url: 'rules.html', title: 'Правила' },
        { url: 'rules-en.html', title: 'Правила (англ.)' },
        { url: 'privacy-policy.html', title: 'Политика конфиденциальности' },
        { url: 'privacy-policy-en.html', title: 'Политика конфиденциальности (англ.)' },
        { url: 'tos.html', title: 'Условия предоставления услуг' },
        { url: 'tos-en.html', title: 'Условия предоставления услуг (англ.)' },
        { url: 'refund-policy.html', title: 'Политика возврата денежных средств' },
        { url: 'refund-policy-en.html', title: 'Политика возврата денежных средств (англ.)' },
    ]