extends layouts/_layout.pug

block vars

block title
	| Тайный Санта 2023 | Организуйте онлайн жеребьевку

block content
	main.main
		section.banner
			.container
				.banner__content 
					.banner__info
						h1.title1.banner__title Организуйте новогодний обмен подарками
						p.text.text--big.banner__text
							| Играйте в 
							b Тайного Санту 
							| с друзьями, коллегами, всей семьй или просто с интернет знакомыми.
						button.btn.banner__btn Создать игру
					.banner__phone
						+picture('assets/img/page-banner/left-hand', 'png', 'banner__phone-hand banner__phone-hand--left', 601, 254)
						+picture('assets/img/page-banner/right-hand', 'png', 'banner__phone-hand banner__phone-hand--right', 1235, 720)
						+picture('assets/img/page-banner/screen', 'png', 'banner__phone-screen', 220, 490)
					.banner__candies
						+picture('assets/img/page-banner/candy', 'png', 'banner__candy banner__candy--1', 50, 122)
						+picture('assets/img/page-banner/candy', 'png', 'banner__candy banner__candy--2', 97, 237)
						+picture('assets/img/page-banner/candy', 'png', 'banner__candy banner__candy--3', 154, 376)

		section.callback
			.container
				.callback__content
					h2.title1.callback__title А еще у нас есть чат-боты
					p.text.text--big.callback__text Так играть стало еще удобнее
					.callback__btns
						a.btn.btn--line.btn--flex.callback__btn(href="#")
							svg(width="24" height="20" viewBox="0 0 24 20" xmlns="http://www.w3.org/2000/svg")
								path(fill-rule="evenodd" clip-rule="evenodd" d="M21.4035 0.105323L0.47807 8.40565C0.332377 8.46321 0.208171 8.56463 0.122629 8.69587C0.0370885 8.8271 -0.00556049 8.98168 0.000581332 9.13821C0.00672315 9.29474 0.0613522 9.4455 0.156913 9.56963C0.252474 9.69376 0.384244 9.78513 0.534 9.83111L5.80805 11.4637L7.947 18.0831C7.98601 18.204 8.05488 18.3132 8.14724 18.4004C8.2396 18.4877 8.35248 18.5503 8.47543 18.5824C8.59839 18.6145 8.72745 18.615 8.85068 18.584C8.97392 18.553 9.08735 18.4915 9.18048 18.405L12.2793 15.5269L18.158 19.8532C18.2588 19.9272 18.3763 19.9751 18.5001 19.9926C18.6239 20.0101 18.7501 19.9965 18.8674 19.9532C18.9847 19.91 19.0894 19.8382 19.1722 19.7445C19.2549 19.6508 19.3131 19.5381 19.3416 19.4163L23.4336 1.85578C23.4965 1.58688 23.4845 1.30589 23.3989 1.04332C23.3134 0.780748 23.1575 0.546631 22.9483 0.366385C22.7391 0.186139 22.4845 0.0666519 22.2121 0.0208949C21.9398 -0.0248621 21.6601 0.00486 21.4035 0.106834V0.105323ZM9.15328 12.8408L8.50025 16.7559L6.98863 11.2747L21.7572 1.63811L9.15328 12.8392V12.8408Z")
							span Телеграм
						a.btn.btn--line.btn--flex.callback__btn(href="#")
							svg(width="29" height="16" viewBox="0 0 29 16" xmlns="http://www.w3.org/2000/svg")
								path(fill-rule="evenodd" clip-rule="evenodd" d="M14.1947 15.9323H15.8713C15.8713 15.9323 16.3769 15.8779 16.6373 15.5987C16.8756 15.3434 16.8671 14.8617 16.8671 14.8617C16.8671 14.8617 16.8331 12.6131 17.8782 12.2812C18.9063 11.9544 20.2289 14.4549 21.6297 15.4166C22.6885 16.1451 23.4936 15.9851 23.4936 15.9851L27.2384 15.934C27.2384 15.934 29.1975 15.8115 28.2682 14.271C28.1933 14.1451 27.7269 13.1323 25.4834 11.0488C23.1344 8.87007 23.4493 9.22242 26.2783 5.45213C28.0009 3.15592 28.6903 1.75334 28.4758 1.15248C28.2716 0.580554 27.0035 0.732044 27.0035 0.732044L22.7855 0.757578C22.7855 0.757578 22.4723 0.715023 22.2408 0.8546C22.0144 0.990773 21.8697 1.30738 21.8697 1.30738C21.8697 1.30738 21.2008 3.08443 20.3123 4.59424C18.4331 7.78409 17.6824 7.9526 17.376 7.75345C16.6611 7.29387 16.8399 5.8998 16.8399 4.91085C16.8399 1.82143 17.3097 0.532893 15.9275 0.199269C15.4696 0.0886289 15.1309 0.0154371 13.9581 0.00352199C12.4534 -0.0117974 11.1802 0.00862885 10.4602 0.360976C9.98016 0.595874 9.60909 1.12014 9.83547 1.14907C10.1146 1.18652 10.7444 1.31929 11.0798 1.77547C11.5121 2.36272 11.4968 3.68359 11.4968 3.68359C11.4968 3.68359 11.7453 7.32111 10.918 7.77218C10.3478 8.08367 9.56824 7.45047 7.89501 4.5568C7.03713 3.07592 6.3886 1.43674 6.3886 1.43674C6.3886 1.43674 6.26435 1.13205 6.04136 0.966944C5.84545 0.837536 5.62546 0.748962 5.39454 0.706514L1.38596 0.732044C1.38596 0.732044 0.785093 0.749067 0.563813 1.0112C0.368064 1.24269 0.548494 1.72611 0.548494 1.72611C0.548494 1.72611 3.68557 9.06412 7.23798 12.7629C10.4959 16.1553 14.1947 15.9323 14.1947 15.9323Z")
							span Вконтакте
						a.btn.btn--line.btn--flex.callback__btn(href="#")
							svg(width="26" height="25" viewBox="0 0 26 25" xmlns="http://www.w3.org/2000/svg")
								path(fill-rule="evenodd" clip-rule="evenodd" d="M0.962207 12.1869C0.962207 5.46705 6.47065 0 13.2414 0C20.0116 0 25.5195 5.46705 25.5195 12.1869C25.5195 18.9061 20.0116 24.3726 13.2415 24.3725C11.211 24.3725 9.20466 23.8718 7.4295 22.9234L0.942483 24.9847C0.910178 24.995 0.877061 25 0.844188 25C0.758392 25 0.674383 24.9659 0.612451 24.9027C0.526655 24.8153 0.497434 24.6871 0.53672 24.5711L2.64573 18.3499C1.54386 16.4879 0.962207 14.3604 0.962207 12.1869ZM7.88948 20.2384C9.48023 21.2822 11.3308 21.8339 13.2414 21.8339C18.6038 21.8339 22.9664 17.5063 22.9664 12.1869C22.9664 6.86688 18.6037 2.53864 13.2413 2.53864C7.87836 2.53864 3.51521 6.86688 3.51521 12.1869C3.51521 14.2317 4.15555 16.1873 5.36692 17.8425C5.42942 17.9279 5.44638 18.0384 5.41245 18.1386L4.36343 21.2334L7.61302 20.2005C7.64524 20.1903 7.67836 20.1852 7.7114 20.1852C7.7739 20.1852 7.83599 20.2032 7.88948 20.2384ZM18.9526 14.3352C18.9877 14.3524 19.009 14.3629 19.0138 14.3652L19.0139 14.3652C19.2526 14.4798 19.4411 14.5703 19.5505 14.7502C19.7102 15.0147 19.6469 15.7436 19.4068 16.4107C19.102 17.2577 17.7621 17.952 17.1523 18.0061L17.0629 18.0146C16.9219 18.0285 16.7621 18.0441 16.5624 18.0441H16.5623C16.0871 18.0441 15.2513 17.9627 13.4863 17.2576C11.653 16.5252 9.84445 14.9551 8.39372 12.8364C8.38951 12.8303 8.38551 12.8244 8.38174 12.8189C8.36305 12.7915 8.34977 12.7721 8.34193 12.7616C7.96312 12.2623 7.08081 10.9496 7.08081 9.55925C7.08081 8.01444 7.82026 7.13603 8.25735 6.86047C8.66953 6.60064 9.60175 6.47792 9.77294 6.47069C9.87447 6.46641 9.88519 6.46522 9.89594 6.46489C9.90007 6.46477 9.90421 6.46477 9.91352 6.46477C10.2748 6.46477 10.5348 6.684 10.7315 7.15486C10.7512 7.20171 10.8105 7.34437 10.8898 7.53532C11.141 8.13972 11.5933 9.22799 11.626 9.2935C11.6785 9.3965 11.841 9.7155 11.6508 10.0935L11.61 10.1756L11.6097 10.176C11.5319 10.3338 11.4647 10.4701 11.3138 10.6455C11.2654 10.7015 11.216 10.761 11.1668 10.8203L11.1665 10.8207C11.0625 10.9458 10.9551 11.0751 10.8559 11.1732C10.822 11.2072 10.7562 11.2731 10.7491 11.2993C10.7491 11.2993 10.7491 11.2996 10.7492 11.3C10.7498 11.3039 10.7533 11.3266 10.7796 11.3713C10.9831 11.7157 12.4671 13.758 14.4222 14.6073C14.5076 14.6444 14.7897 14.7605 14.806 14.7605C14.8242 14.7605 14.8545 14.7302 14.8768 14.7048C15.047 14.5123 15.5982 13.8681 15.7802 13.5975C15.9413 13.3566 16.148 13.2339 16.3941 13.2339C16.5448 13.2339 16.6864 13.2803 16.8186 13.3278C17.1111 13.433 18.6259 14.1752 18.9526 14.3352Z")
							span WhatsApp
							span.btn__label скоро

		section.steps
			.container
				.steps__content
					h2.title1.steps__title
						| Создать игру 
						span.title1__primary быстро 
						| и 
						span.title1__primary просто
					p.text.text--big.steps__text Еще и бесплатно для любого количества игроков
					.steps__list
						.step.steps__item
							.step__content
								.step__img
									+picture('assets/img/steps/1', 'jpg', '', 546, 446)
								.step__info
									h3.title2.step__title Играйте там, где вам удобно
									p.text.step__text Можно играть в офисе и дома, с семьей и с друзьями. Игра подходит для офлайна, когда все живут рядом, и для онлайн-жеребьевки.
									p.text.step__text Тайный Санта справится даже если все в разных местах — подарки всё равно найдут своих адресатов.
						.step.steps__item
							.step__content
								.step__img
									+picture('assets/img/steps/2', 'jpg', '', 546, 345)
								.step__info
									h3.title2.step__title Управляйте ходом игры
									p.text.step__text Вы получите полный доступ к настройкам игры: админ может удалять тех, кто передумал участвовать, и вычислять тех, кто еще не отправил подарок.
									p.text.step__text Сразу видно, кто уже подготовился, а кому лучше напомнить о праздничных обязанностях.
						.step.steps__item
							.step__content
								.step__img
									+picture('assets/img/steps/3', 'jpg', '', 546, 353)
								.step__info
									h3.title2.step__title.step__title--long А кто чей Санта?
									p.text.step__text Магия игры в том, что никто не знает, кто чей Санта. Но иногда бывает так, что кто-то забыл отправить подарок — а значит, кто-то его не получит и расстроится.
									p.text.step__text В настройках игры вы сможете определить безответственных сант, и справедливость восторжествует!

		section.play
			.container
				.play__content
					h2.title1.play__title
						| Играйте с теми, кто 
						span.title2__third по-настоящему дорог
					p.text.text--big.play__text Создавайте любое количество игр, не ограничивайте себя
					.play__list
						.play-item.play__item
							.play-item__img
								+picture('assets/img/play/1', 'png', '', 149, 180)
							h3.title3.play-item__title Друзья
							p.text.play-item__text Отмечайте НГ с друзьями, разбирайте подарки от Тайного Санты под ёлкой
						.play-item.play__item
							.play-item__img
								+picture('assets/img/play/2', 'png', '', 147, 200)
							h3.title3.play-item__title Коллеги
							p.text.play-item__text Дарите коллегам только самые полезные подарки от Тайного Санты. А разбирайте перед корпоративом
						.play-item.play__item
							.play-item__img
								+picture('assets/img/play/3', 'png', '', 167, 180)
							h3.title3.play-item__title Семья
							p.text.play-item__text Тайный Санта не оставит без внимания всех членов семьи. Радость и веселье в новогоднюю ночь это то что нужно
						.play-item.play__item
							.play-item__img
								+picture('assets/img/play/4', 'png', '', 240, 180)
							h3.title3.play-item__title Онлайн-знакомые
							p.text.play-item__text Можно жить далеко друг от друга, но Тайный Санта обязательно должен подарить подарок
					.play__spheres
						span.sphere.play__sphere
						span.sphere.play__sphere
						span.sphere.play__sphere
						span.sphere.play__sphere
						span.sphere.play__sphere

		section.gifts
			.container
				.gifts__content
					h2.title1.gifts__title
						span Подарки точно 
						span.title1__primary.title1__like
							| понравятся
					p.text.text--big.gifts__text Подскажем игрокам какие подарки лучше подарить, чтобы гарантированно все остались довольны
					+picture('assets/img/gifts/img', 'jpg', 'gifts__img', 1066, 963)
					.gifts__list
						.gift-feature.gifts__item
							.gift-feature__img
								.gift-feature__icon.gift-feature__icon--1
							h3.title3.gift-feature__title
								| Спросим
								br
								| пожелания игрока
							p.text.gift-feature__text Что хочет получить от Тайного Санты, а что точно не дарить?
						.gift-feature.gifts__item
							.gift-feature__img
								.gift-feature__icon.gift-feature__icon--2
							h3.title3.gift-feature__title Обучим систему рекомендаций
							p.text.gift-feature__text Выдадим индивидуальные рекомендации для каждого игрока
						.gift-feature.gifts__item
							.gift-feature__img
								.gift-feature__icon.gift-feature__icon--3
							h3.title3.gift-feature__title
								| Посоветуем
								br
								| где купить подарок
							p.text.gift-feature__text Работаем только с проверенными интернет-магазинами

		section.stats
			.container
				.stats__content
					h2.title1.stats__title 30 000
					h2.title1.stats__subtitle человек играло в 2019 году
					p.text.stats__text Тайный Санта работал непокладая рук, чтобы никто не остался без подарка
					.stats__footer
						button.btn.btn--second.stats__footer-btn Создать игру
						a.link.link--third.stats__footer-btn(href="#") Зачем откладывать?
					+picture('assets/img/stats/santa', 'png', 'stats__santa', 194, 350)
					.stats__stars
						.star.stats__star
						.star.stats__star
						.star.stats__star

		section.features
			.features__content
				.container
					h2.title1.features__title
						| Мой Санта, а&nbsp;не 
						span.title1__sticker
							| стикеры?
					p.text.text--big.features__text Игра в Тайного Санту со стикерами это классно, мы не спорим. Просто бывают моменты, когда использовать наш сервис удобнее.
				.features__list
					.feature.features__item
						.container
							.feature__content
								.feature__info
									h3.title2.feature__title
										| Можно 
										span.title2__second играть удаленно
									p.text.feature__text Сейчас особенно важно, что некоторые игроки могут быть в разных уголках планеты. Мой Санта поможет объеденить всех.
								+picture('assets/img/features/1', 'png', 'feature__img', 228, 404)(class="feature__picture")
					.feature.feature--active.features__item
						.container
							.feature__content
								+picture('assets/img/features/2', 'png', 'feature__img', 291, 292)(class="feature__picture")
								.feature__info
									h3.title2.feature__title
										span.title2__second Прозрачный 
										| ход&nbsp;игры
									p.text.feature__text Не будет ситуации, что кто-то потерял стикер или забыл подарить. Все ходы записаны!
					.feature.features__item
						.container
							.feature__content
								.feature__info
									h3.title2.feature__title
										| Помощь в 
										span.title2__second подборе&nbsp;подарков
									p.text.feature__text Наша рекомендательная система подскажет, какой подарок более вероятно понравится игроку.
								+picture('assets/img/features/3', 'png', 'feature__img', 254, 320)(class="feature__picture")

		section.reviews
			.container
				.reviews__content
					h2.title1.title1--center.reviews__title Как это было в&nbsp;прошлом году
					.reviews__list
						.review.reviews__item
							.text.review__text
								p Мы играли в Санту всем офисом. Я создал ссылку на игру в сервисе и просто написал об этом в Slack в рабочем чатике. Все круто восприняли и поддержали игру. Никто не остался без подарков :)
							.review__author
								+picture('assets/img/reviews/1', 'png', 'review__author-img', 50, 50)
								.review__author-info
									.text.text--bold Виктор Бабичев
									.text Москва
						.review.reviews__item
							.text.review__text
								p Я давно искала сервис, в котором можно устраивать Тайного Санту. До этого приходилось собирать всех друзей в одном месте и тянуть стикеры из корзины. В этом плане сервис конечно удобнее. Спасибо вам!
							.review__author
								+picture('assets/img/reviews/2', 'png', 'review__author-img', 50, 50)
								.review__author-info
									.text.text--bold Мария Кравцова
									.text Краснодар
						.review.reviews__item
							.text.review__text
								p Я работаю HR в крупной компании и случайно наткнулась в интернете на сервис Мой Санта. Попробовала и не пожалела! Играли все 320 сотрудников, потом я получила массу сообщений благодарности за устроенный праздник.
							.review__author
								+picture('assets/img/reviews/3', 'png', 'review__author-img', 50, 50)
								.review__author-info
									.text.text--bold Инна Светлакова
									.text Москва
						.review.reviews__item
							.text.review__text
								p Новый год это прежде всего семейный праздник. В этом году решили поиграть в Тайного Санту, чтобы добавить новых эмоций) Я просто отправила ссылку в наш домашний чатик и дальше все самой получилось. Спасибо ребят)))
							.review__author
								+picture('assets/img/reviews/4', 'png', 'review__author-img', 50, 50)
								.review__author-info
									.text.text--bold Маша Томилина
									.text Санкт Петербург
						.review.reviews__item
							.text.review__text
								p Мы играли всем нашей группой в Телеграме, конечно мы ни разу не виделись, но было довольно интересно отправлять подарок незнакомому человеку. Вроде остался доволен.
							.review__author
								+picture('assets/img/reviews/5', 'png', 'review__author-img', 50, 50)
								.review__author-info
									.text.text--bold Андрей Мостков
									.text Москва
						.review.reviews__item
							.text.review__text
								p Мы играли в Тайного Санту на работе, я просто подумала, почему бы не устроить Санту для ребят. Создала ссылку, отправила в рабочий чат, все добавились и после узнали кто кому дарит. Получилось все классно)
							.review__author
								+picture('assets/img/reviews/6', 'png', 'review__author-img', 50, 50)
								.review__author-info
									.text.text--bold Варя Лостикова
									.text Екатеринбург
					.reviews__footer
						button.btn.btn--line.reviews__more Загрузить еще

		section.start
			.container
				.start__content
					h2.title1.start__title
						| Не&nbsp;откладывайте,
						span.title1__black.d-iblock устройте игру
						|  сегодня!
					p.text.text--big.start__text Приглашайте игроков и настраивайте игру. А мы позаботимся о том, чтобы игра прошла как нужно.
					button.btn.btn--black.start__btn Создать игру
					+picture('assets/img/start/deer', 'png', 'start__deer', 186, 219)
					+picture('assets/img/start/tree', 'png', 'start__tree', 293, 340)
					+picture('assets/img/start/santa', 'png', 'start__santa', 277, 300)

		section.faq
			.container
				.faq__content
					h2.title1.title1--center Популярные вопросы
					.faq__list
						.faq-item.faq__item.accordion(data-only-one)
							button.title3.faq-item__header.accordion__btn
								| Что вообще такое «Тайный Санта?»
								span.faq-item__btn
							.accordion__content
								.text.faq-item__main
									p Новогодняя игра с простыми правилами: каждый участник работает Тайным Сантой и втайне готовит подарок для другого участника. В итоге всем достаётся и радость подготовки сюрприза, и подарок. А мы — сервис который автоматизирует эту игру.
						.faq-item.faq__item.accordion(data-only-one)
							button.title3.faq-item__header.accordion__btn
								| А сколько это стоит?
								span.faq-item__btn
							.accordion__content
								.text.faq-item__main
									p У нас есть 3 тарифа.
									p 
										| Тариф «
										b Друзьям
										| »: он бесплатный и в нем может играть до 10 игроков. Он включает все основные функции для комфортной игры.
									p 
									p 
										| Тариф «
										b Компаниям
										| »: подойдет если у вас до 35 игроков и нужен дополнительный контроль над игроками, например функция «Кто чей Санта». Стоимость: 990 рублей.
									p 
									p 
										| Тариф «
										b Бизнес
										| »: для игр с числом игроков больше 35 игроков. Стоимость: 1990 рублей
									p Оплата производится за одну игру.
						.faq-item.faq__item.accordion(data-only-one)
							button.title3.faq-item__header.accordion__btn
								| Какая механика игры?
								span.faq-item__btn
							.accordion__content
								.text.faq-item__main
									p После того, как вы создадите игру мы подготовим специальную ссылку, которую нужно распространить среди игроков. После того, как они зарегестрируются, им нужно рассказать что они хотят на Новый Год, а что точно не дарить. А мы проследим чтобы Тайный Санта сделал свою работу.
						.faq-item.faq__item.accordion(data-only-one)
							button.title3.faq-item__header.accordion__btn
								| Что делать, если у кого-то из игроков нет почты для игры?
								span.faq-item__btn
							.accordion__content
								.text.faq-item__main
									p Мы советуем создать временную почту на одном из популярных почтовых сервисов. Без индивидуальной почты для каждого игрока играть не получится.
						.faq-item.faq__item.accordion(data-only-one)
							button.title3.faq-item__header.accordion__btn
								| Что делать, если еще есть вопросы?
								span.faq-item__btn
							.accordion__content
								.text.faq-item__main
									p
										| Напишите на 
										a(href="mailto:hello@mysanta.ru") hello@mysanta.ru
										| . Мы ответим по любым вопросам максимально быстро.