extends layouts/_panel.pug

block vars
    - var selectedLang = 'ru';
    - var pageUrl = '';

block title
    | !{lang.homePageTitle}

block content
    .preloader(data-always-show)
        .preloader__images
            +picture('/static/img/panel/preloader/1', 'png', 'preloader__img', 60, 60, false, false).preloader__picture
            +picture('/static/img/panel/preloader/2', 'png', 'preloader__img', 60, 60, false, false).preloader__picture
            +picture('/static/img/panel/preloader/3', 'png', 'preloader__img', 60, 60, false, false).preloader__picture