extends layouts/_panel.pug

block vars
    - var selectedLang = 'ru';
    - var pageUrl = '';

block title
    | !{lang.homePageTitle}

block content
    .preloader(data-always-show)
        object(class="preloader__img" data="static/img/preloader.svg" type="image/svg+xml")