.btn
  padding: 18px 40px 20px
  display: inline-block
  background-color: $color-primary
  color: $color-white
  border-radius: 10px
  text-align: center
  font-size: 18px
  font-weight: 700
  line-height: 1.22
  transition: background .3s, color .3s

  &:disabled
    cursor: default
    background: #ededee
    color: rgba(60, 60, 67, 0.5)

  svg,
  &__icon
    fill: $color-primary
    transition: fill .3s

    &:first-child
      margin-right: 10px

    &:last-child
      margin-left: 10px

  &__label
    padding: 4px 10px 6px
    background: $color-primary
    border-radius: 40px
    font-size: 12px
    line-height: 1.25
    font-weight: 700
    color: $color-white
    transition: background .3s, color .3s

    &:first-child
      margin-right: 10px

    &:last-child
      margin-left: 10px

  &--flex
    display: flex
    align-items: center
    justify-content: center

  &--line
    padding-top: 15px
    padding-bottom: 16px
    background-color: transparent
    border: 2px solid $color-primary
    color: $color-primary

    &:hover
      background-color: $color-primary
      color: $color-white

  &--line:hover &__label
    background-color: $color-white
    color: $color-primary

  &--line:hover &__icon,
  &--line:hover svg
    fill: $color-white

  &--second
    background-color: $color-second

  &--black
    background-color: $color-black

    svg
      fill: #fff
      

  &--third
    background-color: $color-third

  &--white
    background-color: #fff
    color: $color-primary

  &--light
    background: rgba($color-primary, 0.1)
    color: $color-primary

  &--light-white
    background: rgba(#fff, 0.15)
    color: #fff

  &--panel
    padding-top: 15px
    padding-bottom: 15px
    font-size: 16px
    letter-spacing: -0.408px

  &--circle
    padding: 0
    display: flex
    align-items: center
    justify-content: center
    width: 50px
    height: 50px
    border-radius: 50%

  @media (max-width: 767px)
    padding-top: 15px
    padding-bottom: 17px
    font-size: 15px

    &--line
      border-width: 2px

    &--panel
      padding-bottom: 15px
      font-size: 16px
