.gift-feature
  text-align: center

  &__img
    margin: 0 auto
    display: flex
    align-items: center
    justify-content: center
    width: 107px
    height: 107px
    background-color: #e9f7ef
    border-radius: 50%

  &__icon
    &--1
      +icon('../img/gifts/1.png', 40px, 40px)

    &--2
      +icon('../img/gifts/2.png', 40px, 40px)

    &--3
      +icon('../img/gifts/3.png', 40px, 40px)

  &__title,
  &__text
    margin-left: auto
    margin-right: auto
    max-width: 340px

  &__title
    margin-top: 30px

  &__text
    margin-top: 20px

  @media (max-width: 991px)
    &__text
      font-size: 16px

  @media (max-width: 640px)
    &__img
      width: 100px
      height: 100px
      
    &__title,
    &__text
      max-width: 286px

    &__title
      margin-top: 20px

    &__text
      margin-top: 10px
      font-size: 15px