.gifts
  padding: 140px 0 150px

  &__content
    position: relative

    &:before,
    &:after
      content: ''
      position: absolute
      z-index: -1
      border-radius: 50%
      filter: blur(125px)

    &:before
      left: -13%
      top: 31%
      width: 349px
      height: 349px
      background: rgba($color-second, 0.3)

    &:after
      right: -7%
      top: 14%
      width: 449px
      height: 449px
      background: rgba($color-primary, 0.3)

  &__title
    margin: 0 auto
    justify-content: center
    max-width: 960px
    text-align: center

    &--en,
    &--es,
    &--de
      .title1__like
        &:before
          top: 21px
          width: 28px
          height: 28px

    &--en,
    &--de
      .title1__like
        &:before
          left: 1px
    &--es
      .title1__like
        &:before
          left: 50px

  &__text
    margin: 22px auto 0
    max-width: 680px
    text-align: center

  &__img
    margin: 60px auto 0
    display: block
    height: auto

  &__list
    position: relative
    margin: -250px -10px 0
    display: flex
    flex-wrap: wrap
    background-color: #fff

    &:before
      content: ''
      position: absolute
      left: 50%
      top: calc(-540px + 250px)
      transform: translateX(-50%)
      background: linear-gradient(0, #ffffff 0%, #ffffff 20%, #ffffff 40%, rgba(255, 255, 255, 0.94) 50%, rgba(255, 255, 255, 0) 100%)
      width: 100vw
      height: 540px

  &__item
    position: relative
    width: calc(100% / 3 - 20px)
    margin: 35px 10px

  @media (max-width: 767px)
    &__list
      margin: -40px -#{$container-offset} 0
      flex-direction: column

      &:before
        top: -120px
        height: 175px

    &__item
      width: 100%
      margin: 25px 0

      &:first-child
        margin-top: 0

      &:last-child
        margin-bottom: 0

  @media (max-width: 640px)
    padding: 50px 0

    &__content
      &:before
        left: -37px
        top: 267px
        width: 179px
        height: 179px
        background: rgba($color-second, 0.3)
        filter: blur(105px)

      &:after
        right: -118px
        top: 135px
        width: 235px
        height: 235px
        background: rgba($color-primary, 0.3)
        filter: blur(115px)

    &__title,
    &__text
      max-width: 300px
      margin-left: auto
      margin-right: auto

    &__text
      margin-top: 20px

    &__img
      margin-top: 30px

    &__list
      margin: -40px -#{$container-mobile-offset} 0
