.menu
  &__content
    display: flex
    align-items: center

  &__list
    position: relative
    z-index: 1
    list-style-type: none
    display: flex
    align-items: center

  &__item
    position: relative

    &:not(:last-child)
      margin-right: 40px

  &__link
    font-size: 18px
    font-weight: 700
    line-height: 1.33
    color: $color-white

  &__toggle
    height: 24px
    width: 24px
    text-align: right
    display: none

  &__lines
    position: relative
    z-index: 6
    display: block
    height: 100%

    &:before,
    &:after
      height: 2px
      background-color: $color-white
      display: block
      transform: rotate(0)
      width: 14px
      transition: transform 0.3s, width 0.3s

    &:before,
    &:after
      content: ''
      position: absolute
      top: 50%
      right: 0

    &:before
      transform: translateY(-6px)

    &:after
      transform: translateY(2px)

  &__profile
    position: relative
    z-index: 1
    margin-left: auto
    display: flex

  &__profile-btn
    &:not(:first-child)
      margin-left: 20px

    &--login
      background-color: rgba($color-white, 0.1)

  &__img
    display: none

  @media (max-width: 991px)
    &__toggle
      display: block
      margin-left: auto

    &__content
      position: fixed
      z-index: 3
      left: 0
      top: 0
      transform: translateX(100%)
      padding: 140px 20px 30px
      flex-direction: column
      width: 100%
      height: 100%
      background: $color-white
      opacity: 0
      visibility: hidden
      overflow-y: auto
      transition: opacity 0.3s, visibility 0.3s, transform 0.3s

    &__list
      flex-direction: column
      justify-content: flex-start
      align-items: center

    &__item
      &:not(:last-child)
        margin-right: 0
        margin-bottom: 60px

    &__link
      font-size: 20px
      line-height: 24px
      color: $color-black

    &__profile
      margin-left: 0
      margin-top: 80px
      flex-direction: column

    &__profile-btn
      &:not(:first-child)
        margin-top: 20px
        margin-left: 0

      &--login
        background-color: rgba($color-black, 0.05)
        color: $color-black

    .menu--active &__img
      position: absolute
      right: 0
      top: 128px
      display: block

    &--active &__toggle
      position: relative
      z-index: 3

    &--active &__content
      visibility: visible
      opacity: 1
      transform: translateX(0)

    &--active &__lines
      &:before,
      &:after
        width: 20px
        background-color: #000

      &:before
        transform: rotate(-45deg)

      &:after
        transform: rotate(45deg)
