.play
  background-color: #6477a2

  &__content
    position: relative
    padding: 120px 0

  &__title
    text-align: center
    max-width: 570px
    margin: 0 auto
    color: $color-white

  &__text
    text-align: center
    margin-top: 20px
    color: $color-white

  &__list
    padding-top: 100px
    margin: -41px -20px
    display: flex
    flex-wrap: wrap

  &__item
    margin: 41px 20px
    width: calc(50% - 40px)

  &__sphere
    position: absolute
    height: auto

    &:nth-child(1)
      left: 7%
      top: -2%
      width: 140px
      height: 140px
      filter: blur(10px)

    &:nth-child(2)
      left: -3%
      top: 29.5%
      width: 40px
      height: 40px

    &:nth-child(3)
      left: 1.5%
      top: 34%
      width: 15px
      height: 15px

    &:nth-child(4)
      top: 44%
      right: -24%
      width: 250px
      height: 250px
      filter: blur(22.5px)

    &:nth-child(5)
      right: -6%
      top: 67%
      width: 55px
      height: 55px

  @media (max-width: 1400px)
    &__sphere
      &:nth-child(2)
        left: 0

      &:nth-child(3)
        left: 4.5%

      &:nth-child(4)
        right: -21%

      &:nth-child(5)
        right: 0

  @media (max-width: 991px)
    &__title
      max-width: 460px

    &__sphere
      &:nth-child(4)
        top: 32%
        max-width: 200px
        filter: blur(18px)

      &:nth-child(5)
        top: 58%

  @media (max-width: 767px)
    &__list
      padding-top: 80px
      margin: -25px 0

    &__item
      margin: 25px 0
      width: 100%

    &__sphere
      &--3
        top: 33%

  @media (max-width: 640px)
    &__content
      padding: 50px 0

    &__title
      max-width: 330px

    &__list
      padding-top: 40px

    &__sphere
      &:nth-child(1)
        left: -40px
        width: 60px
        height: 60px
        filter: blur(2.5px)

      &:nth-child(2)
        top: 55%
        left: -28px

      &:nth-child(3)
        left: 18px
        top: 58.5%

      &:nth-child(4)
        right: -70px
        width: 120px
        height: 120px
        filter: blur(7.5px)

      &:nth-child(5)
        top: unset
        right: 7px
        bottom: 16%
        width: 31px
        height: 31px