.start
  background-color: $color-primary
  text-align: center
  color: $color-white

  &__content
    padding: 120px 0
    position: relative

  &__title
    position: relative
    z-index: 1
    margin: 0 auto
    max-width: 610px

  &__text
    position: relative
    z-index: 1
    margin: 0 auto
    max-width: 610px

  &__text
    margin-top: 30px

  &__btn
    position: relative
    z-index: 1
    margin-top: 50px

  &__deer,
  &__tree,
  &__santa
    position: absolute
    height: auto

  &__deer
    top: -142px
    left: 17%

  &__tree
    bottom: -3%
    left: -3%

  &__santa
    bottom: -3%
    right: -3%

  @media (max-width: 1200px)
    &__tree
      left: -7%

  @media (max-width: 991px)
    &__content
      padding-bottom: 240px

    &__deer
      left: 10%

    &__tree
      left: -10%

  @media (max-width: 640px)
    &__content
      padding-top: 60px

    &__title
      max-width: 340px

    &__text
      margin-top: 20px
      max-width: 300px

    &__btn
      margin-top: 30px

    &__deer
      max-width: 160px
      top: -95px
      left: 35px

    &__tree
      max-width: 242px
      left: -80px

    &__santa
      max-width: 202px
      right: 0