include ../mixins/_mixins.pug

block vars

- var lang = langs[selectedLang];

doctype html
html(lang=selectedLang)
    head
        title
            block title
        block description
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(name='format-detection' content='telephone=no')
        meta(name='facebook-domain-verification' content=lang.fbDomainVerification)
 
        link(rel='shortcut icon' href='assets/img/favicon.ico')
        link(rel='stylesheet' href='assets/css/styles.css')

    body
        .preloader

        if !hideHeader
            include ../partials/_header.pug

        block content

        include ../partials/_footer.pug

        block modals

        include ../modals/_modals.pug

        block scripts
        script(src='assets/js/index.js')